.coffee-shop {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  justify-content: space-evenly;
}

.image {
  height: auto;
  width: 30rem;
  background-image: url("../assets/images/1.jpg");
  background-size: cover;
  margin: 0;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30rem;
  padding: 2rem;
  font-family: var(--primary-font);
}
.categories {
  margin-top: auto;
}
.icon {
  width: 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  align-items: center;
  cursor: pointer;
  margin: 0;
}
.symbol {
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
}
#shopping {
  background: url("../assets/icons/shopping.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.category {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}

/*.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-around;
  margin-top: 5rem;
}
.gallery img {
  width: 12rem;
  margin: 2rem;
}*/
/*@media only screen and (max-width: 530px) {
  .text {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }

  .image {
    width: 30rem;
    margin: 0 auto;
  }
}*/
